name: Build
on:
  push:
    branches:
      - master
      - dev
    tags:
      - 'v*'

jobs:
  build:
    runs-on: macos-latest
    name: Build OpenCC Dicts
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          brew install opencc

      - name: Build and Pack
        run: |
          make && zip -r opencc-tonggui.zip opencc -x "*.DS_Store"

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: opencc
          path: opencc-tonggui.zip

      - name: Create Nightly Release
        if: ${{ github.ref == 'refs/heads/master' }}
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          automatic_release_tag: latest
          prerelease: true
          title: "Nightly"
          files: |
            opencc-tonggui.zip

  release:
    runs-on: macos-latest
    name: Create Release
    needs: build
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          name: opencc

      - name: Rename Zip
        run: mv opencc-tonggui.zip opencc-tonggui-${{ github.ref_name }}.zip

      - name: Upload Assets
        uses: softprops/action-gh-release@v2
        with:
          files: opencc-tonggui-${{ github.ref_name }}.zip
